<header>
	<h1>FeelsMusic</h1>

	<nav>
		<a href="/">Accueil</a>

		<a href="/">Prod</a>
		<a href="/">BeatMaker</a>


		<a href="/login">Se connecter</a>		
		<a href="/logout">Se déconnecter</a>

		<a href="/404">404</a>
	</nav>
</header>